body {
  font-family: 'Inter', 'sans serif';
  color: #e194f7;
  background: #e194f7;
  background-image: url('./images/productnear.jpg');
  font-size: 30px;
}

h1 {
  color: #e194f7;
  font-size: 40px;
  text-align: left;
  margin: 30px;
}

#reading {
  font-size: 30px;
  font-weight: bold;
  color: #e194f7;
}

.stock-container {
  text-align: center;
  margin-top: 30px;
}

.box13 {
  width: 500px;
  height: 300px;
  background: #E3F4E5;
  margin: 30px;
  border: 3px solid #e194f7;
  float: left;
  text-align: center;
  position: relative;
}

.box4 {
  width: 500px;
  height: 300px;
  background: #E3F4E5;
  margin: 30px;
  border: 5px solid #dd99ee;
  float: left;
  text-align: center;
  position: relative;
}

.box5 {
  width: 600px;
  height: 300px;
  background: #E3F4E5;
  margin: 30px;
  border: 5px solid #dd99ee;
  float: left;
  text-align: center;
  position: relative;
}

/* Navigation Bar */
nav {
  background-color: #E3F4E5;
  padding: 15px;
  overflow: hidden;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
}

.nav-links li {
  display: inline;
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  font-size: 20px;
  color: #e194f7;
  font-weight: bold;
}

.nav-links a:hover {
  color: #d588ea;
}
