body {
    font-family: 'Inter', 'sans serif';
    color: #151316;
    background: #e2bdec;
    font-size: 30px;
  }

  .floating-image {
    float: left;
    margin-right: 20px; /* Adds space between the image and the text */
    width: 600px; /* Set the width of the image */
    height: auto; /* Maintain the aspect ratio */
  }

  /* Navigation Bar */
nav {
    background-color: #c4f3d8;
    padding: 15px;
    overflow: hidden;
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
  }
  
  .nav-links li {
    display: inline;
    margin-left: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    color: #dda2ee;
  }
  
  