body {
    font-family: 'Inter', 'sans serif';
    color: #151316;
    background: #e2bdec;
    font-size: 30px;
  }

  .floating-image {
    float: left;
    margin-right: 20px; /* Adds space between the image and the text */
    width: 600px; /* Set the width of the image */
    height: auto; /* Maintain the aspect ratio */
  }
  